@model TechJobsPersistent.Models.Employer //added

<h1>Employer: @Model.Name</h1>@*added@Model.Name*@

<div>
    <p>Name: @Model.Name</p>@*added@Model.Name*@
    <p>Location: @Model.Location</p>@*added*@
</div>
